{# Admin view template #}
{# harveybc 20171014 #}
{# Includes the master_AdminLTE template containing AdminLTE #}
{% extends 'master_AdminLTE' %}{% block content %}
    <div id="jsGrid">
    </div>
{% endblock %}
{% block footer %}
    <script>
        // Gets data from controller
        var data = {{data| dump | safe}};
       $("#jsGrid").jsGrid({width: "100%",
            height: "auto",
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            data: data,
            fields: [
                {name: "id", type: "number", width: 30, validate: "required", align: "center", title: "Id"},
                {name: "name", type: "number", width: 100, align: "center", title: "Name"},
                {name: "last_optimum_performance", type: "text", width: 50, align: "center", title: "Last Perf."},
                {name: "last_block_time", type: "text", width: 50, align: "center", title: "Block Time"},
                {type: "control"},
            ],
             onItemDeleting: function (args) {
                // send a request to the node
                var xmlhttp = new XMLHttpRequest();
                var url = "http://dev.ingeni-us.com:3338/db/processes/"+args.item.id;
                // fired when the state of the request changes
                xmlhttp.onreadystatechange = function() {
                    // readyState==4 ==> request finished and response is ready
                    if (this.readyState == 4 && this.status == 200) {
                        if (this.status==200) {
                            var response = JSON.parse(this.responseText);
                            // if an item was not deleted, cancel the deletion in the frontend list
                            if(response.result.deleted_count!=1)
                                args.cancel = true;
                        }
                        // if an error code is received, cancel the deletion in the frontend list
                        else
                        {
                            args.cancel = true;
                        }
                    }
                };
                xmlhttp.open("DELETE", url, false);
                xmlhttp.send();
            }
 
        });

    </script>
{% endblock %}
