{# Admin view template #}
{# harveybc 20171014 #}
{# Includes the master_AdminLTE template containing AdminLTE #}
{% extends 'master_AdminLTE' %}{% block content %}
    <div id="jsGrid">
    </div>
{% endblock %}
{% block footer %}
    <script>
        // Gets data from controller
        var data = {{data| dump | safe}};
                $("#jsGrid").jsGrid({ width: "100%",
            height: "auto",
            inserting: false,
            editing: false,
            sorting: true,
            paging: true,
            data: data,
            fields: [
                {name: "id", type: "number", width: 30, validate: "required", align:"center",title: "Id"},
                {name: "name", type: "number", width: 120, align:"center",title: "Name"},
                {name: "last_optimum_performance", type: "text", width: 60, align:"center",title: "Last Perf."},
                {name: "last_block_time", type: "text", width: 60, align:"center",title: "Block Time"},

                //{name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name"},
                //{name: "Married", type: "checkbox", title: "Is Married", sorting: false},
                {type: "control"}
            ]
        });
    </script>
{% endblock %}
