{# Includes the JSON-RPC 2.0 specification template #}
{% extends 'master_JSON' %}

{% block content %}
{
    "num_results": "3",
    "results": [ 
        {% for item in metadata_list %}
            test,
        {% endfor %}
    ]
}
{% endblock %}

{% block request_id %}
{{ id }}
{% endblock %}
