{# Includes the JSON-RPC 2.0 specification template #}
{% extends 'master_JSON' %}

{% block content %}
{
    "num_results": "3",
    "results":
    {{metadata_list}}
    [
        {% for metadata in metadata_list %}
            {"id":"{{ metadata.process_id }}","model_id":"{{ metadata.model_id }}","performance":"{{ metadata.performance }}","date_optimum":"{{ metadata.date_optimum }}"},
        {% endfor %}
    ]
}
{% endblock %}

{% block footer %}
{{ id }}
{% endblock %}
