{# SOAP 1.1 specification response template #}
{# harvyebc 20170926 #}
{# Includes the generic template #}
{# SOAP v1.1 Response Headers from https://developers.google.com/doubleclick-publishers/docs/soap_xml #}
{% extends 'master' %}{% block header %}
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Header>
    <ResponseHeader xmlns="https://www.google.com/apis/ads/publisher/v201705">
      <requestId> {{ request_id }} </requestId>
      <responseTime> {{ response_time }} </responseTime>
    </ResponseHeader>
  </soap:Header>
  <soap:Body>
    <getAdUnitsByStatementResponse xmlns="https://www.google.com/apis/ads/publisher/v201705">
      <rval>
        <totalResultSetSize>1</totalResultSetSize>
        <startIndex>0</startIndex>
        <results>
{% endblock %}
{% block content %}{{ result | dump | safe}}{% endblock %}
{% block footer %}
        </results>
      </rval>
    </getAdUnitsByStatementResponse>
  </soap:Body>
</soap:Envelope>
{% endblock %}  
