{# JSON-RPC 2.0 specification template #}
{# harvyebc 20170923 #}

{# JSONRPC 2.0 Header from http://www.jsonrpc.org/specification #}
{"jsonrpc": "2.0", "result": 

{# Content for the response from the metadata_list variable #}
{% block content %}
{% endblock %}

{# JSONRPC 2.0 Footer from http://www.jsonrpc.org/specification #}
, "id":
{% block footer %}
{% endblock %}  
}