{# JSON-RPC 2.0 specification response template #}
{# harvyebc 20170923 #}
{# Includes the generic template #}
{# JSONRPC 2.0 Header from http://www.jsonrpc.org/specification #}
{% extends 'master' %}{% block header %}{"jsonrpc": "2.0", "result": {% endblock %}
{# Content for the response from the metadata_list variable #}
{% block content %}{{ result | dump | safe}}{% endblock %}
{# JSONRPC 2.0 Footer from http://www.jsonrpc.org/specification #}
{% block footer %}, "id":{% block req_id %}{% endblock %}}{{ request_id }}{% endblock %}  
