{# Creation and Updat view form template #}
{# harveybc 20171106 #}
{# This file is included from the create and update templates  #}
    <style>
        .box-info{
            margin-bottom:10px;
        }
    </style>
    <!-- form start -->
        <button type="submit" class="btn btn-success pull-left"  style="position:relative;top:-5px; padding-top:3px; padding-bottom: 3px;" ><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        <a class="btn btn-primary" style="position:relative;top:-5px; padding-top:3px; padding-bottom: 3px;margin-left:5px;" href="/authorization/admin?username={{username}}&pass_hash={{pass_hash}}"><span class="glyphicon glyphicon-alert"></span> Cancel</a>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">User Metadata</h3>
            </div>
            <!-- /.box-header 
            TODO: CARGAR VALORES DESDE PARAMS
            -->
            <div class="box-body">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" name="user_name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="role" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRole"  name="role_key" placeholder="1">
                    </div>
                </div>                
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">User Control</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label for="inputActive" class="col-sm-2 control-label">Active</label>
                    <div class="col-sm-10">
                        <input type="checkbox" class="checkbox" id="inputActive" name="active" checked>
                    </div>
                </div>                
                <!-- /.box-footer -->
            </div>
        </div>
        
        
        <button type="submit" class="btn btn-success pull-left"  style="position:relative;top:-5px; padding-top:3px; padding-bottom: 3px;" ><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
        <a class="btn btn-primary" style="position:relative;top:-5px; padding-top:3px; padding-bottom: 3px;margin-left:5px;" href="/authentication/admin?username={{username}}&pass_hash={{pass_hash}}"><span class="glyphicon glyphicon-alert"></span> Cancel</a>
        <input type="hidden" name="redir" value="1">
        <input type="hidden" name="username" value="{{username}}">
        <input type="hidden" name="pass_hash" value="{{pass_hash}}">


