{# Admin view template #}
{# harveybc 20171014 #}
{# Includes the master_AdminLTE template containing AdminLTE #}
{% extends 'master_AdminLTE' %}{% block content %}
    <style>
        .box-info{
            margin-bottom:10px;
        }
        .form-group{
            margin-bottom:10px;
        }
    </style>
    <!-- form start -->
    <form class="form-horizontal">
        <a class="btn btn-success" style="position:relative;top:-5px; padding-top:3px; padding-bottom: 3px;" href="/processes/update/{{pid}}"><span class="glyphicon glyphicon-edit"></span> Edit Process</a>
        <div class="row">
            <div class="col-xs-12">
                <!-- interactive chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-area-chart"></i>

                        <h3 class="box-title">Performance</h3>

                        <div class="box-tools pull-right">
                            Real time
                            <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                                <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="interactive" style="height: 250px;"></div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- new box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h3 class="box-title">Metadata</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="bar-chart">
                            <div class="form-group">
                                <label for="inputId" class="col-sm-2 control-label">Id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputId" name="id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" name="name">
                                </div>
                            </div>                
                            <div class="form-group">
                                <label for="inputDescription" class="col-sm-2 control-label">Description</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputDescription"  name="description" placeholder="Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCreatorKey" class="col-sm-2 control-label">Creator Key</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCreatorKey"  name="creator_key" placeholder="Creator Key">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTags" class="col-sm-2 control-label">Tags</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTags" name="tags"  placeholder="forex,dqn,dcn,neat">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputHash" class="col-sm-2 control-label">Hash</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputHash" name="hash"  placeholder="hash">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAppHash" class="col-sm-2 control-label">Application Hash</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputAppHash" name="app_hash"  placeholder="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <!-- Line chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-cube"></i>

                        <h3 class="box-title">Block Data</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputCreatedAt" class="col-sm-2 control-label">created_at</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCreatedAt"  name="created_at" placeholder="created_at">
                            </div>
                        </div>                
                        <div class="form-group">
                            <label for="inputUpdatedAt" class="col-sm-2 control-label">updated_at</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputUpdatedAt"  name="updated_at" placeholder="updated_at">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputActive" class="col-sm-2 control-label">active</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputActive"  name="active" placeholder="active">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDesiredBlockTime" class="col-sm-2 control-label">desired_block_time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDesiredBlockTime"  name="desired_block_time" placeholder="desired_block_time">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDesiredBlockSize" class="col-sm-2 control-label">desired_block_size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDesiredBlockSize"  name="desired_block_size" placeholder="desired_block_size">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputBlockTimeControl" class="col-sm-2 control-label">block_time_control</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputBlockTimeControl"  name="block_time_control" placeholder="block_time_control">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- new box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-cube"></i>

                        <h3 class="box-title">Optimization Configuration</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputModelId" class="col-sm-2 control-label">model_id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputModelId"  name="model_id" placeholder="model_id">
                            </div>
                        </div>                
                        <div class="form-group">
                            <label for="inputTrainingSetId" class="col-sm-2 control-label">training_set_id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputTrainingSetId"  name="training_set_id" placeholder="training_set_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputValidationSetId" class="col-sm-2 control-label">validation_set_id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputValidationSetId"  name="validation_set_id" placeholder="validation_set_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastBlockHash" class="col-sm-2 control-label">last_block_hash</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastBlockHash"  name="last_block_hash" placeholder="last_block_hash">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastBlockDate" class="col-sm-2 control-label">last_block_date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastBlockDate"  name="last_block_date" placeholder="last_block_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastBlockTime" class="col-sm-2 control-label">last_block_time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastBlockTime"  name="last_block_time" placeholder="last_block_time">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <!-- Line chart -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-cube"></i>

                        <h3 class="box-title">Block Performance</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputCurrentThreshold" class="col-sm-2 control-label">current_threshold</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCurrentThreshold"  name="current_threshold" placeholder="current_threshold">
                            </div>
                        </div>                
                        <div class="form-group">
                            <label for="inputLastThreshold" class="col-sm-2 control-label">last_threshold</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastThreshold"  name="last_threshold" placeholder="last_threshold">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCurrentBlockTime" class="col-sm-2 control-label">current_block_time</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCurrentBlockTime"  name="current_block_time" placeholder="current_block_time">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastBlockSize" class="col-sm-2 control-label">last_block_size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastBlockSize"  name="last_block_size" placeholder="last_block_size">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputLastBlockPerformance" class="col-sm-2 control-label">last_block_performance</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastBlockPerformance"  name="last_block_performance" placeholder="last_block_performance">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCurrentBlockPerformance" class="col-sm-2 control-label">current_block_performance</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCurrentBlockPerformance"  name="current_block_performance" placeholder="current_block_performance">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- new box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-cube"></i>

                        <h3 class="box-title">Last Optimum</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputLastOptimumId" class="col-sm-2 control-label">last_optimum_id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastOptimumId"  name="last_optimum_id" placeholder="last_optimum_id">
                            </div>
                        </div>                
                        <div class="form-group">
                            <label for="inputLastOptimumDate" class="col-sm-2 control-label">last_optimum_date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputLastOptimumDate"  name="last_optimum_date" placeholder="last_optimum_date">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body-->
                </div>
                <!-- /.box -->
            </div>
           
        </div>


        
    </form>
{% endblock %}
{% block footer %}
    <div id="helpModal" class="modal fade" role="dialog" >
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Processes Detail View Help</h4>
                </div>
                <div class="modal-body">
                    <p>This view allows to view the process details with a real-time graphic of reported performances and block generation difficulty.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> 
    <!-- End Modal Help Dialog -->
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- FLOT CHARTS -->
    <script src="/bower_components/Flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="/bower_components/Flot/jquery.flot.resize.js"></script>
    <script>
        // Gets data from controller
        var data = {{data| dump | safe}};
        /* get the x,y data for plotting from a result of a request as JSON from a text resposne*/
        var last_response;
        var xy_points = [];
        function getPoints(res_text){   
            // JSON parse res_text as last response 
            last_response = JSON.parse(res_text);
            var str = JSON.stringify(last_response, 2); // spacing level = 2
            // Zip the generated y values with the x values
            xy_points = [];
            for (var i = 0; i < last_response.result.length; i++) {
                xy_points.push([i, last_response.result[i].performance])
            }
 
            // return array of x,y points
            return xy_points;
        }
        /* get performance and data pairs from remote host */
        function getPerformanceData(){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    xy_points = getPoints(this.responseText);
                }
            };
            xmlhttp.open("GET", "/parameters?username={{username}}&pass_hash={{pass_hash}}", true);
            xmlhttp.send();
            return xy_points;
        }
        // when page finishes loading, sets the values to the ones from data
        $(document).ready(function () {
            // Calls getPerformanceData to get a JSON from singularity
            xy_points=getPerformanceData();
            // Shows Help When button clicked
            $('#btn-trig').click(function () {
                $('#helpModal').modal('show');
            });
            // Initialize values of form
            // Metadata
            $('#inputId').val(data[0].id);
            $('#inputName').val(data[0].name);
            $('#inputDescription').val(data[0].description);
            $('#inputCreatorKey').val(data[0].creator_key);
            $('#inputTags').val(data[0].tags);
            $('#inputHash').val(data[0].hash);
            $('#inputAppId').val(data[0].app_hash);
            // 
            $('#inputCreatedAt').val(data[0].created_at);
            $('#inputUpdatedAt').val(data[0].updated_at);
            $('#inputActive').val(data[0].active);
            $('#inputDesiredBlockTime').val(data[0].desired_block_time);
            $('#inputBlockTimeControl').val(data[0].block_time_control);
            // 
            $('#inputModelId').val(data[0].model_id);
            $('#inputtrainingSetId').val(data[0].training_set_id);
            $('#inputValidationSetId').val(data[0].validation_set_id);
            $('#inputLastBlockHash').val(data[0].last_block_hash);
            $('#inputLastBlockDate').val(data[0].last_block_date);
            $('#inputLastBlockTime').val(data[0].last_block_time);
            // 
            $('#inputCurrentThreshold').val(data[0].current_threshold);
            $('#inputLastThreshold').val(data[0].last_threshold);
            $('#inputCurrentBlockTime').val(data[0].current_block_time);
            $('#inputLastBlockSize').val(data[0].last_block_size);
            $('#inputLastBlockPerformance').val(data[0].last_block_performance);
            $('#inputCurrentBlockPerformance').val(data[0].current_block_performance);
            // 
            $('#inputLastOptimumId').val(data[0].last_optimum_id);
            $('#inputLastOptimumDate').val(data[0].last_optimum_date);

        });
        
        

        /**/

        $(function () {
            /*
             * Flot Interactive Chart
             * -----------------------
             */
            var data = [], totalPoints = 35
            
            
            /* QUITAR */
            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1)
                // Do a random walk
                while (data.length < totalPoints) {

                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                            y = prev + Math.random() * 10 - 5

                    if (y < 0) {
                        y = 0
                    } else if (y > 100) {
                        y = 100
                    }

                    data.push(y)
                }
                // Zip the generated y values with the x values
                var res = []
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }

                return res
            }
            // Interactive plot
            var interactive_plot = $.plot('#interactive', [getRandomData()], {
                grid: {
                    borderColor: '#f3f3f3',
                    borderWidth: 1,
                    tickColor: '#f3f3f3'
                },
                series: {
                    shadowSize: 0, // Drawing is faster without shadows
                    color: '#3c8dbc'
                },
                lines: {
                    fill: true, // Converts the line chart to area chart
                    color: '#3c8dbc'
                },
                yaxis: {
                    min : 0.0,
                    max : 0.5,
                    show: true
                },
                xaxis: {
                    show: true
                }
            })
            var updateInterval = 1000 //Fetch data ever x milliseconds
            var realtime = 'on' //If == to on then fetch data every x seconds. else stop fetching
            function update() {
                xy_points=getPerformanceData();
                //total_points = xy_points.length;
                var tmp = getRandomData();
                interactive_plot.setData([xy_points]);
                
                document.getElementById("testFrame").innerHTML = xy_points.toString();
                // Since the axes don't change, we don't need to call plot.setupGrid()
                //document.getElementById("otherTestFrame").innerHTML = tmp.toString();
                interactive_plot.draw();
                if (realtime === 'on')
                    setTimeout(update, updateInterval);
            }
            //INITIALIZE REALTIME DATA FETCHING
            if (realtime === 'on') {
                update()
            }
            //REALTIME TOGGLE
            $('#realtime .btn').click(function () {
                if ($(this).data('toggle') === 'on') {
                    realtime = 'on'
                } else {
                    realtime = 'off'
                }
                update()
            })
            /*
             * END INTERACTIVE CHART
             */
            
        })
        /*
         * Custom Label formatter
         * ----------------------
         */
        function labelFormatter(label, series) {
            return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                    + label
                    + '<br>'
                    + Math.round(series.percent) + '%</div>'
        }
    </script>
{% endblock %}
